@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  max-width: 100vw;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.app__no__footer {
  flex-grow: 1;
}

.thanks__for__submitting {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 8px;
  height: 200px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(75, 72, 72);
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb:vertical {
  height: 5vh;
}

/* Links and Fonts*/
ul {
  list-style-position: inside;
}

a {
  text-decoration: none;
  color: #33609e;
}

a:hover {
  color: #092a58;
  text-decoration: underline;
  cursor: pointer;
}

h1 {
  background: linear-gradient(#0e4593, #1a66bc);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 45px;
}

p {
  font-size: 24px;
  line-height: 40px;
}

li {
  font-size: 20px;
}

img {
  border-radius: 5px;
}

/* Header */
.header {
  display: flex;
  width: 100%;
  padding: 10px;
  background-color: #daebff;
}

.header__navbar {
  display: flex;
}

.header__navbar__link {
  display: flex;
  text-decoration: none;
}

.header__navbar__link__img {
  height: auto;
  width: 309px;
}

.header__navbar__link__img2 {
  height: 70px;
  width: auto;
  display: none;
}

.main__div2__button__container {
  display: flex;
  justify-content: center; /* Horizontally center the child elements */
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.header__navbar__div {
  display: flex;
  align-items: center;
}

.header__navbar__div__ul {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  width: calc(100vw - 20px - 309px);
}

.header__navbar__div__ul__li {
  margin: 0 50px;
  font-size: 16px;
}

.header__navbar__div__ul__li:last-child {
  margin-right: 60px;
}

.header__navbar__div__ul__li__a__h2 {
  color: #33609e;
}

.header__navbar__div__ul__li__a {
  position: relative;
  transition: 0.3s ease;
}

.header__navbar__div__ul__li__a:hover {
  text-decoration: none;
}

.header__navbar__div__ul__li__a::after {
  content: "";
  position: absolute;
  background-color: #33609e;
  height: 3px;
  left: 0;
  bottom: -5px;
  width: 100%;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.header__navbar__div__ul__li__a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 35px;
  height: 4px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: white;
}

@media (max-width: 1200px) {
  /* Responsive */
  .header__navbar__div__ul {
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.5);
    justify-content: space-around;
    position: fixed;
    right: -100%;
    top: 90px;
    gap: 0;
    flex-direction: column;
    background-color: #daebff;
    width: 35%;
    text-align: center;
    transition: 0.3s;
    border-top: 2px solid gray;
    height: calc(100vh - 39px);
    padding-bottom: 50vh;
  }

  .header__navbar__div__ul__li {
    margin: 0;
  }

  .header__navbar__div__ul.active {
    right: -0%;
  }

  .header__navbar__div__ul__li:first-child {
    margin-top: 50px;
  }

  .header__navbar__div__ul__li:last-child {
    margin-right: 0px;
  }

  .header__navbar__div__ul__li__a::after {
    background-color: transparent;
  }

  .hamburger {
    display: block;
    margin: auto 0;
    margin-left: calc(100vw - 369px);
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
}

@media (max-width: 450px) {
  .header {
    padding-left: 5px;
  }
}

@media (max-width: 410px) {
  .header__navbar__link__img {
    display: none;
  }

  .header__navbar__link__img2 {
    display: block;
  }

  .hamburger {
    position: absolute;
    right: 20px;
    margin-top: 20px;
  }

  .header__navbar__div__ul {
    height: calc(110vh - 39px);
    padding-bottom: 40vh;
  }
}

/* Main */
.width,
.privacy__policy__p,
.privacy__policy__h1 {
  text-align: justify;
  word-break: keep-all;
  width: 90vw;
  margin: 0 auto;
  max-width: 1200px;
}

@media (min-width: 1800px) {
  .width,
  .privacy__policy__p,
  .privacy__policy__h1 {
    width: 70%;
    max-width: 70%;
  }
}

/* DIV 1 */
.div1 {
  margin-top: 50px;
  text-align: center;
}

.main__div1__button {
  margin-top: 30px;
}

.main__div1__button,
.main__div2__button,
.main__div5__button,
.main__div65__button,
.main__div9__button {
  overflow: hidden;
  font-weight: 800;
  opacity: 0.8;
  margin-top: 5vh;
  font-size: 21px;
  font-weight: 700;
  color: #33609e;
  background-color: #daebff;
  border: 2px solid #daebff;
  box-shadow: 0 0 10px #daebff;
  border-radius: 10px;
  padding: 1em 3em;
  cursor: pointer;
  transition: 0.3s;
  z-index: 0;
  position: relative;
  text-align: center;
}

.main__div13__button {
  overflow: hidden;
  font-weight: 800;
  opacity: 1;
  margin-top: 5vh;
  font-size: 21px;
  font-weight: 700;
  color: #33609e;
  background-color: #daebff;
  border: 2px solid #daebff;
  box-shadow: 0 0 10px #daebff;
  border-radius: 10px;
  padding: 1em 3em;
  cursor: pointer;
  transition: 0.3s;
  z-index: 0;
  position: relative;
  text-align: center;
}

.main__div5__button {
  box-shadow: 0 0 50px #fff;
  background-color: #bfddff;
  margin-top: 10px;
}

.main__div1__button:hover,
.main__div2__button:hover,
.main__div5__button:hover,
.main__div65__button:hover,
.main__div9__button:hover {
  opacity: 1;
  background-color: #fff;
  text-shadow: none;
  border-color: #fff;
  transform: scale(1.05);
}

.main__div13__button:hover {
  transform: scale(1.05);
}

.main__div1__button:before,
.main__div2__button:before,
.main__div5__button:before,
.main__div65__button:before,
.main__div9__button:before,
.main__div13__button:before {
  content: "";
  width: 0;
  height: 1000%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #fff;
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.main__div1__button:hover:before,
.main__div2__button:hover:before,
.main__div5__button:hover:before,
.main__div65__button:hover:before,
.main__div9__button:hover:before,
.main__div13__button:hover:before {
  width: 105%;
}

/* DIV 2 */
.div2 {
  margin-top: 150px;
  display: flex;
}

.main__div2__subdiv1,
.main__div2__subdiv2 {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  margin: 0 auto;
}

@media (max-width: 1307px) {
  .div2 {
    display: block;
    width: 70%;
    text-align: center;
  }

  .main__div2__subdiv2 {
    margin-top: 50px;
  }

  .main__div2__subdiv1,
  .main__div2__subdiv2 {
    flex-basis: 100%;
  }
}

.main__div2__subdiv1__ul {
  list-style-image: url("/images/checkmark_blue.png");
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap; /* Allow list items to wrap onto the next line */
  justify-content: space-between; /* Add space between list items */
  text-align: left;
}

.main__div2__subdiv1__ul li {
  flex-basis: calc(45% - 10px); /* Adjust the width of each list item */
  margin-bottom: 10px; /* Add some spacing between list items */
  padding: 5px; /* Add padding to style list items */
}

.main__div2__subdiv2 {
  display: flex;
}

.main__div2__why_us_img {
  width: 90%;
  height: auto;
  margin: auto;
}

@media (max-width: 800px) {
  .main__div2__subdiv1 {
    display: block;
  }
  .main__div2__subdiv1__ul {
    display: block;
  }

  .main__div2__subdiv1__ul li {
    flex-basis: 100%; /* Adjust the width of each list item */
    margin-bottom: 10px; /* Add some spacing between list items */
    padding: 5px; /* Add padding to style list items */
  }
}

/* DIV 3 */
.div3 {
  margin-top: 150px;
  display: flex;
  flex-direction: row;
}

.main__div3__subdiv2__ul__li p {
  text-align: justify;
  word-break: keep-all;
}

.main__div3__subdiv1 {
  flex-basis: 40%;
  margin: 0 auto;
}

.main__div3__subdiv1__p {
  margin-top: 50px;
}

.main__div3__subdiv1__img {
  margin-top: 150px;
  height: 700px;
  width: auto;
  border-radius: 10px;
}

.main__div3__subdiv2 {
  background-color: #f7f5f5;
  padding: 50px;
  border-radius: 10px;
  flex-basis: 40%;
  margin: 0 auto;
  box-shadow: 0 0 10px gray;
}

.main__div3__subdiv2__ul {
  list-style: none;
}

.main__div3__subdiv2__ul__li {
  font-size: 15px;
  position: relative; /* Set the list item as a positioning context */
  padding-left: 50px; /* Create space for the custom bullet point */
}

.main__div3__subdiv2__ul__li__h2 {
  font-size: 35px;
  margin-top: 50px;
}

.main__div3__subdiv2__ul__li__h2__first__child {
  margin-top: 0;
}

.main__div3__subdiv2__ul li:before {
  content: url("/images/big_red_checkmark.png"); /* Use a bullet point character as the custom bullet */
  position: absolute;
  left: 0; /* Position the bullet point at the start of the list item */
  top: 50%; /* Vertically center the bullet point */
  transform: translateY(-50%); /* Adjust for vertical centering */
  padding-right: 10px; /* Add some space between the bullet point and text */
}

@media (max-width: 1330px) {
  .div3 {
    display: block;
    max-width: 70%;
  }
  .main__div3__subdiv1__img {
    display: none;
  }
  .main__div3__subdiv2 {
    margin-top: 50px;
  }
}

@media (max-width: 700px) {
  .main__div3__subdiv2__ul li:before {
    content: ""; /* Use a bullet point character as the custom bullet */
    position: absolute;
    left: 0; /* Position the bullet point at the start of the list item */
    top: 50%; /* Vertically center the bullet point */
    transform: translateY(-50%); /* Adjust for vertical centering */
    padding-right: 0px; /* Add some space between the bullet point and text */
  }

  .main__div3__subdiv2__ul__li {
    font-size: 15px;
    position: relative; /* Set the list item as a positioning context */
    padding-left: 00px; /* Create space for the custom bullet point */
  }
}

/* DIV 4 */

.div4 {
  margin-top: 50px;
  background-color: #daebff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
  width: 100vw;
}

.main__div4__button {
  margin-top: 50px;
}

.div4 h1 {
  max-width: 50%;
  text-align: center;
}

.main__div4__p {
  max-width: 50%;
  margin-top: 30px;
  display: flex;
  text-align: justify;
  word-break: keep-all;
}

@media (max-width: 1330px) {
  .main__div4__p,
  .div4 h1 {
    max-width: 70%;
  }
}

@media (max-width: 900px) {
  .main__div4__p,
  .div4 h1 {
    max-width: 80%;
  }
}

@media (max-width: 700px) {
  .main__div4__p,
  .div4 h1 {
    max-width: 90%;
  }
}

/* DIV 5 */
.div5 {
  margin-top: 100px;
  display: flex;
}

.main__div5__subdiv1,
.main__div5__subdiv2 {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  margin: 0 auto;
}

.main__div5__subdiv1__h2:before {
  content: "";
  background-image: url("/images/blue_hyphen.png");
  display: inline-block; /* Ensures the pseudo-element takes up space */
  width: 19px; /* Adjust the width as needed */
  height: 3px; /* Adjust the height as needed */
  margin-right: 20px; /* Add spacing between the image and the h2 */
  margin-left: 20px;
  margin-bottom: 7px;
}

.main__div5__subdiv1__h2 {
  margin-top: 30px;
  color: #1a66bc;
}

.main__div5__subdiv1__p0 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: justify;
  word-break: keep-all;
}

.main__div5__subdiv1__p {
  font-size: 20px;
  text-align: justify;
  word-break: keep-all;
}

.moneygraphimg {
  width: 90%;
  height: auto;
  margin: auto;
}

@media (max-width: 1330px) {
  .div5 {
    display: block;
    max-width: 70%;
  }

  .moneygraphimg {
    width: 70%;
    margin-top: 50px;
    border-radius: 5px;
  }
}

/* DIV 6 */
.div6 {
  margin-top: 100px;
  display: flex;
}

.main__div6__subdiv1__ul {
  list-style-type: none; /* Remove default bullet points */
}

.main__div6__subdiv1,
.main__div6__subdiv2 {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  margin: 0 auto;
}

.main__div6__h1 {
  margin-bottom: 20px;
}

.main__div6__subdiv1__ul__li__1 {
  list-style-image: url("/images/green_checkmark.png");
  margin-top: 10px;
  font-size: 27px;
  margin-bottom: 25px;
}

.main__div6__subdiv1__ul__li__2 {
  list-style-image: url("/images/red_checkmark.png");
  margin-top: 10px;
  font-size: 27px;
  margin-bottom: 25px;
}

@media (max-width: 1033px) {
  .div6 {
    display: block;
    max-width: 70%;
  }
}

/* DIV 6.5 */
.main__div65__btndiv {
  margin-top: 100px;
  display: flex;
  width: 100%;
}

.main__div65__button {
  margin: 0 auto;
  align-items: center;
}

/* DIV 7 */
.div7 {
  margin-top: 100px;
  background-color: #bfddff;
  display: flex;
  padding: 80px 100px;
  text-align: center;
}

.main__div7__subdiv {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
  margin: 0 auto;
}

.main__div7__subdiv__h4 {
  font-size: 60px;
  color: #092a58;
  transition: 3s;
}

.main__div7__subdiv__p {
  margin-top: 15px;
}

@media (max-width: 1692px) {
  .div7 {
    flex-wrap: wrap;
    justify-content: center; /* Center the items when they wrap */
  }
  .main__div7__subdiv {
    flex-basis: 50%; /* Adjust the value as needed to fit two elements in a row */
    flex-wrap: wrap;
  }
}

@media (max-width: 942px) {
  .div7 {
    display: block;
  }
}

@media (max-width: 485px) {
  .div7 {
    padding: 20px 30px;
  }
  .div7 h4 {
    font-size: 40px;
    margin-top: 30px;
  }

  .main__div7__subdiv__p {
    font-size: 20px;
    margin-top: 0px;
  }
}

/* DIV 14 */
.div14 {
  height: 300px;
  margin-top: 100px;
  background-image: url("/images/wave.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #81bafc;
}

.div15 {
  height: 100px;
  background-color: #81bafc;
  background-repeat: no-repeat;
}

.div16 {
  background: linear-gradient(#81bafc, #f0f7ff);
  background-repeat: no-repeat;
}

.div17 {
  height: 400px;
  background-image: url("/images/wave_2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

/* DIV 8 */
.div8 {
  text-align: center;
  margin: 0 auto;
}

.main__div8__p {
  max-width: 50%;
  margin: 0 auto;
  margin-top: 30px;
}

.main__div8__img {
  margin: 0 40px;
  margin-top: 80px;
  box-shadow: 1px 1px 20px #737373;
}
@media (max-width: 500px) {
  .main__div8__img {
    width: 70%;
    height: auto;
  }
}
/* DIV 9 */
.div9 {
  margin-top: 50px;
  text-align: center;
}

.main__div9__h1 {
  font-size: 60px;
}

.main__div9__button__container {
  display: flex;
  width: 100%;
}

.main__div9__button {
  align-items: center;
  margin: 0 auto;
}

/* Carousel */
.carousel-container {
  max-width: 700px; /* Set your desired maximum width here */
  margin: 0 auto; /* Center the carousel horizontally */
  border-radius: 10px;
  margin-top: 50px;
}

/* Custom arrow styles */
.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1; /* Ensure arrows appear above the carousel content */
}

.custom-arrow-left {
  left: 10px; /* Adjust left position for the left arrow */
}

.custom-arrow-right {
  right: 10px; /* Adjust right position for the right arrow */
}

.carousel__img {
  border-radius: 10px;
}

.slide-pair {
  display: flex;
  justify-content: space-between; /* Ensure images are evenly spaced */
  margin: 0 -10px; /* Adjust margin to separate image pairs */
}

.slide-image {
  flex: 1;
  padding: 0 10px; /* Adjust padding to separate images within a pair */
}

/* Customize image styling as needed */
.slide-image img {
  width: 100%; /* Ensure images fill their container */
  height: auto; /* Maintain aspect ratio */
  border-radius: 5px; /* Add rounded corners if desired */
}

/* DIV 9 button */
.main__div9__button {
  margin-top: 100px;
}

/* DIV 10 */
.div10 {
  margin-top: 150px;
  display: flex;
}

.main__div__div10__subdiv1__h2 {
  font-size: 50px;
  color: #0e4593;
  margin-bottom: 30px;
}

.main__div__div10__subdiv1,
.main__div__div10__subdiv2 {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  margin: 0 auto;
}

.main__div__div10__subdiv1 {
  text-align: left;
  word-break: keep-all;
}

.main__div__div10__subdiv2 {
  text-align: center;
}

.main__div__div10__subdiv2__container {
  display: flex;
  margin-top: 65px;
}

.main__div__div10__subdiv2__container__subcon1,
.main__div__div10__subdiv2__container__subcon2 {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  margin: 0 auto;
}

@media (max-width: 498px) {
  .main__div__div10__subdiv2 {
    display: block;
  }
  .main__div__div10__subdiv2__container {
    display: block;
    margin: 20px auto;
  }
  .main__div__div10__subdiv2__container__subcon1,
  .main__div__div10__subdiv2__container__subcon2 {
    display: block;
    flex-basis: 100%;
    margin-left: 50px;
  }
}

.main__div10__subdiv2__box {
  padding: 15px;
  background-color: #bfddff;
  border-radius: 5px;
  font-size: 23px;
  font-weight: 700;
  margin: 10px;
  display: flex;
  justify-content: center;
  width: calc(100% / 1.2);
}

@media (max-width: 1200px) {
  .div10 {
    display: block;
    max-width: 70%;
  }
}

/* DIV 11 */
.div11 {
  margin-top: 100px;
  display: flex;
  background-color: #daebff;
  padding: 100px 0;
}

.main__div__div11__subdiv1,
.main__div__div11__subdiv2,
.main__div__div11__subdiv0,
.main__div__div11__subdiv4 {
  display: flex;
  flex-direction: column;
  flex-basis: 15%;
  margin: 0 auto;
  text-align: center;
}

.main__div__div11__subdiv__h1 {
  font-size: 100px;
  margin: 0; /* Remove margin */
  line-height: 1; /* Adjust line height if necessary */
}

.main__div__div11__subdiv__p {
  font-size: 30px;
}

@media (max-width: 1400px) {
  .div11 {
    display: block;
    padding: 20px 0;
  }

  .main__div__div11__subdiv1 {
    margin-bottom: 50px;
  }
}

@media (max-width: 342px) {
  .main__div__div11__subdiv__h1 {
    font-size: 50px;
  }
}

/* DIv 12 */
.div12 {
  margin-top: 100px;
  display: flex;
}

.main__div12__subdiv1,
.main__div12__subdiv2 {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  margin: 0 auto;
}

.main__div12__subdiv1__h1 {
  max-width: 70%;
}

.faq_image {
  width: 70%;
  height: auto;
}

.accordion {
  width: 95%;
}

.accordion li {
  list-style: none;
  width: 100%;
  margin: 12px;
  padding: 10px;
  border-radius: 8px;
  background-color: #daebff;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -6px rgba(255, 255, 255, 0.7);
}

.accordion li label {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 23px;
  font-weight: 500;
  cursor: pointer;
}

label::before {
  content: "+";
  margin-right: 10px;
  font-size: 24px;
  font-weight: 600;
}

input[type="radio"] {
  display: none;
}

.accordion .content {
  padding: 0 10px;
  line-height: 26px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s, padding 0.1s;
}

.accordion input[type="radio"]:checked + label + .content {
  max-height: 500px;
  padding: 10px 10px 20px;
}

.accordion input[type="radio"]:checked + label::before {
  content: "-";
}

@media (max-width: 1350px) {
  .main__div12__subdiv1,
  .main__div12__subdiv2 {
    flex-basis: 50%;
  }
}

@media (max-width: 994px) {
  .div12 {
    display: block;
    width: 70%;
    text-align: center;
  }
  .main__div12__subdiv1 {
    text-align: center;
  }
  .main__div12__subdiv1__h1 {
    max-width: 100%;
  }
  .faq_image {
    margin: 0 auto;
    margin-top: 50px;
  }
  .accordion {
    margin: 0 auto;
    margin-top: 50px;
    margin-right: 30px;
  }
}

/* DIV 13 */
.div13 {
  background-image: url("/images/blue_bg.jpg");
  width: 90%;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 150px;
  text-align: center;
  color: white;
  border-radius: 5px;
}

.main__div13__h1 {
  background: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-top: 50px;
}

.main__div13__h5 {
  margin-top: 20px;
  font-size: 25px;
  font-weight: 500;
}

.main__div13__p {
  padding-top: 20px;
  max-width: 50%;
  margin: 0 auto;
  font-weight: 300;
}

.main__div13__button {
  margin-bottom: 100px;
}

@media (max-width: 1200px) {
  .main__div13__p {
    max-width: 70%;
  }
}

@media (max-width: 900px) {
  .main__div13__p {
    max-width: 90%;
  }
}

@media (max-width: 430px) {
  .main__div13__button {
    max-width: 90%;
  }
}

/* Privacy Policy */
.privacy__policy__title__div {
  width: 100vw;
  text-align: center;
  background-color: #daebff;
}

.privacy__policy__title__div__h1 {
  margin: 0 auto;
  text-align: center;
  padding: 5vw;
  text-decoration: underline;
  font-size: 70px;
  text-decoration: underline;
  text-decoration-color: #33609e;
}

.privacy__policy__h1 {
  margin-top: 80px;
  margin-bottom: 20px;
  font-size: 50px;
}

.privacy__policy__p__first-child {
  margin-top: 80px;
}

.privacy__policy__ul {
  list-style-position: inside;
  margin-top: 20px;
  font-size: 30px;
}

/* thanks for submitting */
.thanks__submitting__div {
  flex-grow: 1;
  font-size: 35px;
  margin: 0 auto;
}

/* our models */
.our__models__heading {
  width: 90vw;
  margin: 0 auto;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
}

.our__models__heading__h1 {
  font-size: 70px;
}

.our__models__heading__h2 {
  font-size: 40px;
}

.our__models__pictures {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* To evenly distribute images in a row */
  width: 60vw;
  margin: 0 auto;
}

@media (max-width: 2200px) {
  .our__models__pictures {
    width: 70vw;
  }
}

@media (max-width: 1550px) {
  .our__models__pictures {
    width: 90vw;
  }
}

@media (max-width: 1250px) {
  .our__models__pictures {
    width: 100vw;
  }
}

.our__models__pictures__picture {
  width: 33.33%; /* Adjust the width to fit three images in a row with spacing */
  margin-bottom: 20px; /* Add some margin for spacing between rows */
  position: relative; /* Required for object-fit */
  display: flex; /* Add Flexbox container for centering */
  flex-direction: column;
  align-items: center; /* Center vertically */
  justify-content: center; /* Center horizontally */
}

@media (max-width: 1000px) {
  .our__models__pictures__picture {
    width: 50%;
  }
}

.our__models__pictures__picture img {
  width: 70%;
  height: 50%;
  object-fit: cover;
  object-position: top center;
}

.our__models__pictures__h3 {
  font-size: 30px;
  color: #1a66bc;
  margin-top: 10px;
}

.our__models__pictures__p {
  font-size: 22px;
  margin-bottom: 25px;
}

.our__models__pictures__picture button {
  overflow: hidden;
  font-weight: 800;
  opacity: 0.8;
  font-size: clamp(15px, 2.35vw, 18px);
  font-weight: 700;
  color: #33609e;
  background-color: #daebff;
  border: 2px solid #daebff;
  box-shadow: 0 0 10px #daebff;
  border-radius: 10px;
  padding: 1em 3em;
  cursor: pointer;
  transition: 0.3s;
  z-index: 0;
  box-shadow: 0 0 10px #fff;
  position: relative;
  text-align: center;
  margin-bottom: 50px;
}

.our__models__pictures__picture button:hover {
  opacity: 1;
  background-color: #fff;
  border: 2px solid #fff;
  box-shadow: 0 0 10px #daebff;
  text-shadow: none;
  transform: scale(1.1);
}

.our__models__pictures__picture button:before {
  content: "";
  width: 0;
  height: 1000%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #fff;
  transition: 0.5s ease;
  display: block;
  z-index: -1;
}

.our__models__pictures__picture button:hover:before {
  width: 105%;
}

.our__models__pictures__picture button:hover {
  color: #000;
}

@media (max-width: 730px) {
  .our__models__pictures__picture {
    max-height: 1100px;
  }
  .our__models__pictures__picture {
    width: 100%;
    margin-bottom: 0;
  }

  .our__models__pictures__picture button {
    margin-bottom: 0;
  }
}

@media (max-width: 900px) {
  .our__models__heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 426px) {
  .hide__-__on__responsive {
    display: none;
  }
}

/* model ava */
.div__ava__div {
  margin-top: 150px;
  display: flex;
}

.div__ava__div__subdiv1,
.div__ava__div__subdiv2 {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  margin: 0 auto;
}

.div__ava__div__subdiv1 {
  justify-content: center;
}

.display_2 {
  text-align: center;
  display: none;
}

@media (max-width: 1307px) {
  .div__ava__div {
    display: block;
    width: 80%;
    margin-left: 10%;
  }

  .div__ava__div__subdiv1 {
    margin-top: -100px;
  }

  .div__ava__div__subdiv2 {
    margin-top: 50px;
  }

  .div__ava__div__subdiv1__img {
    margin: 0 auto;
  }

  .display_2 {
    display: block;
  }

  .display_1 {
    display: none;
  }

  .div__ava__div__subdiv1,
  .div__ava__div__subdiv2 {
    flex-basis: 100%;
  }
}

@media (max-width: 630px) {
  .div__ava__div {
    width: 90%;
    margin-left: 5%;
  }
}

@media (max-width: 560px) {
  .div__ava__div__subdiv1 {
    margin-left: -5.5%;
    width: 100vw;
  }
}
@media (max-width: 508px) {
  .div__ava__div__subdiv1 {
    margin-left: 0;
    width: 90vw;
  }
}

.div__ava__div__subdiv2__p__1 {
  font-size: 25px;
}

.div__ava__div__subdiv2__p__2 {
  font-size: 22px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.div__ava__div__subdiv2__p__3,
.div__ava__div__subdiv2__p__4 {
  margin-bottom: 7px;
  margin-top: 23px;
}

.div__ava__div__subdiv2__ul__li {
  font-size: 21px;
  list-style: none;
}

.div__ava__div__subdiv2__ul__1__li {
  padding: 7px;
  padding-left: 40px;
  background-image: url("/images/red_checkmark.png");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 0 center;
  margin-bottom: 10px;
}

.div__ava__div__subdiv2__ul__2__li {
  padding: 7px;
  padding-left: 40px;
  background-image: url("/images/green_checkmark.png");
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 0 center;
  margin-bottom: 10px;
}

.div__ava__div__subdiv1__img {
  width: 100%;
  max-width: 500px;
  height: auto;
  margin-left: auto;
}

@media (max-width: 507px) {
  .div__ava__div {
    display: block;
    width: 70%;
    text-align: center;
  }

  .div__ava__div__subdiv2 {
    margin-top: 50px;
    width: 130%;
  }

  .div__ava__div__subdiv1,
  .div__ava__div__subdiv2 {
    flex-basis: 100%;
  }
}

.div__ava__div__2 {
  background-color: #daebff;
  margin-bottom: -50px;
  padding: 20px 100px;
  margin-top: 100px;
}

@media (max-width: 1400px) {
  .div__ava__div__2 {
    padding: 20px 0;
  }
}

.div__ava__div__2__img {
  height: 60px;
  width: auto;
}

.div__ava__div__2__p {
  padding: 20px 0;
}

@media (max-width: 1260px) {
  .div__ava__div__subdiv1,
  .div__ava__div__subdiv2 {
    flex-basis: 50%;
  }

  .div__ava__div__subdiv1 {
    align-items: center;
    justify-content: center;
  }

  .div__ava__div__subdiv1__img {
    width: 100%;
    height: auto;
    margin: 0 auto;
  }
}

@media (max-width: 900px) {
  .div__ava__div__subdiv1,
  .div__ava__div__subdiv2 {
    align-items: flex-start;
  }
}

/* FAQ */
.bold {
  font-weight: 700;
}

.bold2 {
  font-weight: 500;
}

.faq__heading {
  margin-top: 30px;
  margin-bottom: 90px;
  text-align: center;
}

@media (max-width: 995px) {
  .faq__heading {
    margin-bottom: 0px;
  }
}

/* About us */
.about_us_img_0 {
  display: none;
}
.about_us__title__div {
  margin-top: 50px;
}

.about_us__title__div h2 {
  font-size: 30px;
  color: #1a66bc;
  margin-top: 10px;
  margin-bottom: 20px;
}

.about_us__our_mission__div,
.about_us__our_story__div,
.about_us__our_mission__div,
.about_us__our_promise_div,
.about_us__join_us_div {
  margin-top: 100px;
  display: flex;
  align-items: center;
}

.about_us__our_mission__div__subdiv_1,
.about_us__our_mission__div__subdiv_2,
.about_us__our_story__div__subdiv_1,
.about_us__our_story__div__subdiv_2,
.about_us__our_mission__div__subdiv_1,
.about_us__our_mission__div__subdiv_2,
.about_us__our_promise_div__subdiv_1,
.about_us__our_promise_div__subdiv_2,
.about_us__join_us_div__subdiv_1,
.about_us__join_us_div__subdiv_2 {
  flex-basis: 40%;
  /* background-color: red;
  border: 2px solid gray; */
  margin: 0 auto;
  margin-left: 0;
}

.about_us_img {
  width: 70%;
  height: auto;
  margin: 0 auto;
  margin-left: 5%;
}

@media (max-width: 1200px) {
  .about_us_img {
    width: 90%;
    height: auto;
    margin: 0 auto;
    margin-left: 15%;
  }
}

.about_us_img_right {
  width: 70%;
  height: auto;
  margin: 0 auto;
  margin-right: 5%;
}

@media (max-width: 1200px) {
  .about_us_img_right {
    width: 90%;
    height: auto;
    margin: 0 auto;
    margin-right: 15%;
  }
}

@media (max-width: 770px) {
  .about_us__our_mission__div,
  .about_us__our_story__div,
  .about_us__our_mission__div,
  .about_us__our_promise_div,
  .about_us__join_us_div {
    display: block;
  }
  .about_us__our_mission__div__subdiv_2,
  .about_us__our_story__div__subdiv_2,
  .about_us__our_mission__div__subdiv_2,
  .about_us__our_promise_div__subdiv_2,
  .about_us__join_us_div__subdiv_2 {
    display: none;
  }

  .about_us__our_mission__div__subdiv_1,
  .about_us__our_story__div__subdiv_1,
  .about_us__our_mission__div__subdiv_1,
  .about_us__our_promise_div__subdiv_1,
  .about_us__join_us_div__subdiv_1 {
    flex-basis: 100%;
    width: 100%;
  }

  .about_us_img_0 {
    display: flex;
    margin: 10px auto;
    width: 50%;
    height: auto;
    padding: 20px;
  }
}

/* Footer */
.footer {
  margin-top: 100px;
  flex-shrink: 0;
}

.footer__section_1 {
  background-color: #daebff;
  border-top: 1px solid gray;
  display: flex;
  justify-content: space-around;
  padding: 10px;
}

.footer__section_2 {
  background-color: #daebff;
  border-top: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.footer__div {
  flex-basis: 25%;
}

.footer__div__footerLogo {
  margin-top: 5px;
  height: 150px;
  width: auto;
}

@media (max-width: 804px) {
  .footer__section_1 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer__div {
    flex-basis: auto;
    margin-bottom: 20px;
    width: 100%;
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
  }

  .footer__div:last-child {
    border-bottom: 0;
  }

  .footer__div__instagramLogoImg {
    margin-top: 10px;
  }

  .footer__div__footerLogo {
    margin-top: 10px;
    height: 100px;
  }
}

.footer__div__instagramLogoImg {
  height: 30px;
  margin-left: 20px;
  width: auto;
}

/* Other components */

/* Google Forms styling */
.forms__div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.googleForms {
  height: 1500px;
  width: 100%;
  padding-top: 50px;
  border: none;
  border-top: 2px solid gray;
}

.to-top {
  position: fixed;
  bottom: 3vh;
  left: 5vw;
  opacity: 0;
  transition: opacity 0.3s ease; /* Add a smooth transition for the opacity change */
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.to-top img {
  height: 5vh;
  width: auto;
}

.to-top.active {
  opacity: 1;
}

@media (max-width: 900px) {
  /* * {
    text-align: left;
  } */
  .about_us__our_mission__div__subdiv_1 h1,
  .about_us__our_mission__div__subdiv_2 h1,
  .about_us__our_story__div__subdiv_1 h1,
  .about_us__our_story__div__subdiv_2 h1,
  .about_us__our_mission__div__subdiv_1 h1,
  .about_us__our_mission__div__subdiv_2 h1,
  .about_us__our_promise_div__subdiv_1 h1,
  .about_us__our_promise_div__subdiv_2 h1,
  .about_us__join_us_div__subdiv_1 h1,
  .about_us__join_us_div__subdiv_2 h1 {
    text-align: left;
  }
  .faq__heading p {
    text-align: center;
    margin: 0 auto;
  }
  .div__ava__div__subdiv2__h1 {
    margin: 0 auto;
  }
  .main__div__div11__subdiv__p,
  .footer__section_2,
  .main__div13__h5,
  .header__navbar__div__ul__li__a__h2 {
    text-align: center;
  }
  h1 {
    text-align: center;
  }
  .div1,
  .div2,
  .div3,
  .div5,
  .div6,
  .div9,
  .div10,
  .div12,
  .privacy__policy__p,
  .privacy__policy__h1 {
    max-width: 80%;
  }

  .main__div8__p {
    max-width: 90%;
    margin: 0 auto;
    margin-top: 30px;
  }

  .div13 {
    max-width: 100vw;
    width: 100vw;
  }
}

@media (max-width: 700px) {
  .div1,
  .div2,
  .div3,
  .div5,
  .div6,
  .div9,
  .div10,
  .div12,
  .privacy__policy__p,
  .privacy__policy__h1 {
    max-width: 90%;
  }
}

@media (max-width: 590px) {
  .div3 {
    max-width: 100vw;
    width: 100vw;
  }
  .main__div3__subdiv2 {
    max-width: 100vw;
    width: 100vw;
    border-radius: 0px;
    box-shadow: 0 0 0 0;
  }
  .main__div3__subdiv1 {
    max-width: 90vw;
    width: 90vw;
    margin: 0 auto;
  }
  .div4 {
    margin-top: 0;
  }
}
